{{ define "index.tmpl" }}
{{template "headerpart" .}}
<h1 class="page-header">Dashboard</h1>

<script language="javascript">
	(function($) {

	})(jQuery);
</script>

{{template "footerpart" .}}
{{ end }}